.bgcol{
	height: 150vh;
	width: 100%;
	background-image: url('filipe-dos-santos-mendes-2s5spoiwX88-unsplash.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}
